<footer class="footer bg-secondary py-4 mt-auto">
    <div class="row">
        <div class="col-4 text-center">
            <span class="text-light name">Dewansh Chandra</span>
        </div>
        <div class="col-md-4 col-sm-8 ms-auto">
            <a href="https://linkedin.com/in/dewansh-chandra">
                <div class="social-btn"><i class="bi bi-linkedin"></i> <span> in/dewansh-chandra
                    </span>
                </div>
            </a>
            <a href="https://github.com/Dewansh36">
                <div class="social-btn"><i class="bi bi-github"> </i><span>/Dewansh36</span>
                </div>
            </a>
            <a href="dewansh.chandra@gmail.com">
                <div class="social-btn"><i class="bi bi-envelope-check"></i><span>dewansh.chandra@gmail.com</span>
                </div>
            </a>
            <a href="https://twitter.com/ChandraDewansh">
                <div class="social-btn"><i class="bi bi-twitter"></i><span>/ChandraDewansh</span>
                </div>
            </a>
        </div>
    </div>
</footer>